@keyframes width-expanding {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 21rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(5rem, 0, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes scale-appearing {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@keyframes right-to-left-appearing {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes rotate-to-right {
  from {
    transform: translate3d(-14rem, 0, 0) rotate(-150deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes rotate-to-left {
  from {
    transform: translate3d(14rem, 0, 0) rotate(150deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes alpha-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes down-scale {
  from {
    transform: scale(1.2)
  }

  to {
    transform: scale(1)
  }
}

@keyframes fail-falling {
  from {
    transform: translate3d(0, -4em, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, -1.5, 0);
    opacity: 1;
  }
}
