$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova",
"Arial",
sans-serif;
$font-alt: "Radical",
"Arial",
sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$delay: 0.2s;
$short-delay: 0.1s;
$short-dur: 0.5s;

$rules-amount: 4;

$bezier-1: cubic-bezier(0, 0.85, 0.12, 1);
$bezier-2: cubic-bezier(.14,1.06,.67,1.11);
